# 
# Setup for pre-industrial ESM control run at T63L47/GR15L40.
#
# This is a spinup for the CMIP6 esm simulations
#
# yr2802: exchanged hamocc restart file byt a restart file from a 4600yr sediment offline simulation by Irene.
#
# $$Id: control.config 8256 2015-12-08 23:30:31Z m221078 $$
#
# prefect-model predictability runs using vga0214 as a baseline since year 3000
# ensemble with startyear 3014; member 001; ATMO_DISTURBANCE 1.00001;
#
ACCOUNT = mh0727
EXP_TYPE = esmControl-LR

PARENT_EXP_ID = vga0214
PARENT_DATE = 31771231
PARENT_DIR = /work/mj0060/m220053/mpiesm-1.2.01-release/experiments/vga0214/restart

EMAIL = aaron.spring@mpimet.mpg.de

INITIAL_DATE = 3178-01-01
FINAL_DATE = 3198-12-31

MON_DIR=/work/mh0727/m300524/monitoring

MON_ADD_EXP_ID = vga0214

BIN_DIR = /mnt/lustre01/pf/zmaw/m220053/mpiesm-1.2.01-release/build-mpiesm-asob-vga0214/bin
ATMO_EXE = echam6_vga0214.x
OCEAN_EXE = mpiom_vga0214.x


ATMO_DISTURBED_YEARS = 3178
ATMO_DISTURBANCE = 1.00001

[namelists]
  [[OCECTL]]
    [[[ocectl]]]
      # no hamocc feedback due to sw absorbtion
      lfb_bgc_oce = false


[jobs]

  [[run_start]]

    [[[files]]]
      [[[[echam]]]]
        [[[[[restart]]]]]
          # provide any file: variables are initialized if missing
          #   from co2vmr (i.e. piControl value: 284.3169860840e-06)
          restart_${EXP_ID}_tracer.nc = restart_$${ATMO_PARENT_EXP_ID}_echam_$${ATMO_PARENT_DATE}.nc
 
